/* $Id$ */


/* The hierarchical select. */
.hierarchical-select-wrapper .hierarchical-select {
  margin-bottom: 1em;
}

.hierarchical-select-wrapper .hierarchical-select * {
  margin: 0;
}

.hierarchical-select-wrapper .hierarchical-select > * {
  margin-left: .5em; /* margin-right: .5em; */
  float: right; /* float: left; */
}


/* Level labels styles. */
.hierarchical-select-level-labels-style-bold .hierarchical-select select option:first-child {
  font-weight: bold;
}

.hierarchical-select-level-labels-style-inversed .hierarchical-select select option:first-child {
  background-color: #000000;
  color: #FFFFFF;
}

.hierarchical-select-level-labels-style-underlined .hierarchical-select select option:first-child {
  text-decoration: underline;
}


/* Dropbox limit warning.*/
p.hierarchical-select-dropbox-limit-warning {
  padding: 0;
  color: #F7A54F;
  font-size: 110%;
  padding-left: .5em;
}


/* The dropbox table. */
.dropbox-title {
  font-size: 115%;
  color: #898989;
  margin-bottom: 0.2em;
}

.hierarchical-select-wrapper table.dropbox {
  margin: 0px;
  width: auto;
  max-width: 100%;
  min-width: 20em;
  margin-bottom: 1em;
  padding: 0px;
  color: grey;
  font-size: 90%;
  padding: 1em;
  margin-right: 1px; /* margin-left: 1px; */
}

.hierarchical-select-wrapper table.dropbox tbody {
  margin: 0;
  padding: 0;
  border: 1px solid grey;
}

tr.dropbox-entry {
  line-height: 1.3em;
  padding: .3em .6em;
}  

tr.dropbox-entry.even {
  background-color: transparent;
  border-bottom: 1px solid #CCCCCC;
}

tr.dropbox-entry.odd {
  background-color: #EDF5FA;
  border-bottom: 1px solid #CCCCCC;
}

tr.dropbox-entry.first {
  border-top: 1px solid grey;
}

tr.dropbox-entry.last {
  border-bottom: 1px solid grey;
}

.dropbox-selected-item {
  font-weight: bold;
}

.dropbox-item-separator {
  padding-left: .5em;
  padding-right: .5em;
}

td.dropbox-remove *,
td.dropbox-remove a:link,
td.dropbox-remove a:visited {
  margin: 0px;
  padding: 0px;
  color: #F7A54F;
}

tr.dropbox-is-empty {
  padding: .5em 1em;
}


/* The "Update" button and help text (used when Javascript is disabled). */
.hierarchical-select-wrapper .nojs .update-button {
  margin-top: 0;  
}

.hierarchical-select-wrapper .nojs .help-text {
  font-size: 90%;
  color: grey;
  display: block;
  border: 1px dotted black;
  min-width: 30em;
  max-width: 45em;
  padding: .8em;
}

.hierarchical-select-wrapper .nojs .help-text .warning {
  color: red;
}

.hierarchical-select-wrapper .nojs .help-text .solutions {
  margin: 0;
  padding: 0;
}


/* The 'waiting' class is set dynamically, during a callback to the server. */
.hierarchical-select-wrapper.waiting {
  opacity: 0.5;

  /* IE doesn't support CSS 2 properly. */
  zoom: 1;
  filter: alpha(opacity=50);
}
